body{
    /*padding: 17%;*/
    padding-top: 0%;
    /*background-color: rgba(194, 175, 175, 0.623);*/
    /*background: radial-gradient(#8360c3, #182848);*/
    color: rgb(17, 11, 11);
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
nav ul li {
    float: left;
    padding:16px 0px;
}
nav ul li a{
    display: block;
    color: rgb(219, 218, 218);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active {
    background-color: #4471c4;
}
nav ul li a:hover:not(.active) {
    background-color: #111;
}
#banner{
    background-image: url(img/01.png);
    height:fit-content; 
    background-size: cover; 
    text-align: center; 
    width: auto;
    padding: 15%;
    background-attachment: fixed;
    background-position: center;
	background-blend-mode: overlay;
    /*padding: 8px;*/
    /*border-radius: 32px 8px;*/
    color:white; 
}
h1{
    padding: 6px;
	background: rgba(255,0,0,0.7);
	border-radius: 32px 6px;
	margin: 0px;
	font-size: 64px;
    font-family: ,serif;
}
p , h2 ,h3,h4, section ul , img{
    padding-right: 20%;
    padding-left: 20%;
}
img{
    padding-right: 0px;
}
iframe{
    padding-left: 20px;
}
div h3{
    background: rgba(0,0,0);
	border-radius: 32px 8px;
	padding: 0 24px;
	font-size: 28px;
}
.section-heading{
    font-size: 32px;
    font-family: ;
    border-left: 3px solid black;
    border-right: 3px solid black;
    transition: all 0.4s;
    display: inline-block;
    padding: 4px 32px;
    margin-left: 20%;
}
.section-heading:hover{
    padding: 4px 48px;
    background:black;
    color: white;
} 
footer{
    padding: 20px;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
}